HOST=0.0.0.0
PORT=3000
SITE_DOMAIN=d3mvpn.local
DASHBOARD_URL=https://cabinet.d3mvpn.local
TELEGRAM_BOT_URL=https://t.me/d3mvpn_bot
MIN_PRICE=80
CURRENCY=₽
XRAY_CHECKER_URL=
REMNAWAVE_API_URL=
REMNAWAVE_API_TOKEN=
PROMO_WORD_CODE=
PROMO_WORD_TEXT=
PROMO_LOGO_CODE=
PROMO_LOGO_TEXT=
